/** {
    padding: 0 5px;
}*/

.textoParteUno {
    color: white;
    /*padding-right: 0;*/
}

.textoParteDos {
    color: aqua;
    /*padding-left: 0;*/
}

#estiloUno {
    background-color: black;
    font-family: cursive;
    /*text-align: left;*/
}

#estiloDos {
    background-color: rgb(85, 18, 147);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: center;
}

#estiloTres {
    background-color: rgb(44, 163, 210);
    font-family: cursive;
    text-align: right;
    text-decoration: underline;
}

/*#estiloDos h2, #estiloTres h3 {
    padding: 5px 0;
} 

#estiloTres h3 {
    padding-right: 5px;
}*/

/*#estiloDos, #estiloTres {
    font-weight: lighter;
}*/

